<!DOCTYPE html>
<html>
 <head>
	 <meta charset="utf-8">
   <link rel="stylesheet" href="{{ asset('/vendors/bootstrap/css/bootstrap.css') }}" type="text/css"/>
   <link rel="stylesheet" href="{{ asset('/vendors/mdb/css/mdb.min.css') }}" type="text/css"/>
   <link rel="stylesheet" href="{{ asset('/vendors/mdb/css/modules/animations-extended.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
   <link rel="stylesheet" href="{{ asset('css/Animations.css') }}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css"
    href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
   <script src="{{ asset('/vendors/mdb/js/jquery.min.js') }}"></script>
   <script src="{{ asset('/vendors/mdb/js/mdb.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>

          <script src="{{ asset('js/actions.js') }}"></script>


	 <title>Admin Control Panel</title>
 </head>

    <body>
        <!-- Header -->
        <header>
            {% if user == null %}
                <button class="btn btn-primary" style="margin: 10px;"><a href="/login">Connexion</a></button>
                <button class="btn btn-secondary"><a href="/register">Inscription</a></button>
            {% else %}
                <div class="compte"><a href="/profile">Bonjour, {{user.firstname}}</a></div>
            {% endif %}

            <ul class="nav">
                <li><a href="/">Accueil</a></li>
                <li><a href="/events">Evenements</a></li>
                <li><a href="#">Boutique</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>

        <!-- Deuxième Header -->
        <div class="nav-bar">
            {% if user != null %}
            <button class="btn btn-secondary" style="padding: inherit; margin: 4px; width: 106px;"><a href="./users/logout">Déconnexion</a></button>
            <ul class="nav" style="padding: 0;">
                <li><a href="#">Souscriptions</a></li>
                <li><a href="#">Configuration</a></li>
            </ul>
            {% endif %}
        </div>

    <div class="row">
        <div class="col">

        	<!--Container-->
            <div class="box" style="width: 50%;height: auto; margin: 5% auto;">
                <table id="eventList" class="display nowrap" style="width:100%"></table>
            </div>

            <!--Container-->
            <div class="box" style="width: 50%;height: auto; margin: 5% auto;">
                <table id="pictureList" class="display nowrap" style="width:100%"></table>
            </div>

            <!--Container-->
            <div class="box" style="width: 50%;height: auto; margin: 5% auto;">
                <table id="commentList" class="display nowrap" style="width:100%"></table>
            </div>

        </div>
    </div>






        <!-- Animations -->
        <div style="width: 100%; height: 300px;">
            <div class="waveWrapper waveAnimation" style="position: relative; height: 100%; width: 100%;">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('/images/wave3.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('/images/wave2.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('/images/wave3.png')"></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row" style="width: 100%;">
                <div class="col-lg-6" style="z-index: 2;">
                    <h5 style="float: left; margin-left: 25px">A propos</h5>
                    <p style="float: left; margin-left: 25px; text-align: left; font-size: small;">Ayant un penchant naturel vers la programmation et le développement, un groupe de jeunes étudiants en école d'ingénieur décidèrent de fonder en Juin 2019 la plateforme HiDev. Nous construisons vos projet sur mesures et nous vous garantissons un travail de qualité ainsi que d'un suivi particulier pour s'assurer du bon fonctionnement de vos commandes. Étant en spécialité informatique nous pouvons couvrir une grande partie des projets grand publique ainsi que de l'entretien de vos serveurs, bases de données, site web, etc.. Si cependant une catégorie vous manque sur le site n'hésitez pas a nous la proposer.</p>
                </div>
                <div class="col" style="z-index: 2;">
                    <h5>Mentions légales</h5>
                </div>
                <div class="col" style="z-index: 2;">
                    <h5>Social</h5>
                </div>
            </div>
        </footer>

        <style>
            form {
                margin: 20px;
            }
            .box {
                background-color: white;
            }
            .td {
                white-space: nowrap;
                width: 100%;                   
                overflow: hidden;
                text-overflow: ellipsis;
            }
            #eventList {
            table-layout: fixed;
            width: 100% !important;
            }
            #eventList td,
                #eventList th{
                width: auto !important;
                /* white-space: normal; */
                text-overflow: ellipsis;
                overflow: hidden;
            }
            #pictureList {
            table-layout: fixed;
            width: 100% !important;
            }
            #pictureList td,
                #pictureList th{
                width: auto !important;
                /* white-space: normal; */
                text-overflow: ellipsis;
                overflow: hidden;
            }
            #commentList {
            table-layout: fixed;
            width: 100% !important;
            }
            #commentList td,
                #commentList th{
                width: auto !important;
                /* white-space: normal; */
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .table-link {
                color: #77B !important;
            }
            input {
                color: black !important;
            }
            .list-btn {
                padding: 0 5px 0 5px;
                margin: 2px;
            }

            .ui-menu .ui-menu-item a{
                background:red;
                height:10px;
                font-size:8px;
            }

        </style>

           <script src="{{ asset('/vendors/alerts/alert.js') }}"></script>


         <script>

            var dataSet = {{ eventList|json_encode|raw }};

            $(document).ready(function() {
            $('#eventList').DataTable( {
                data: dataSet,
                columns: [
                    // { title: "Id" },
                    { title: "Titre" },
                    { title: "Photo" },
                    { title: "Date début", "data-sort": "%d/%m/%Y" },
                    { title: "Date fin", "data-sort": "%d/%m/%Y" },
                    { title: "Prix" },
                    { title: "Utilisateur" },
                    // { title: "Centre" },
                    { title: "Action" },
                ]
            } );
            } );

            var dataSet3 = {{ pictureList|json_encode|raw }};

            $(document).ready(function() {
            $('#pictureList').DataTable( {
                data: dataSet3,
                columns: [
                    { title: "Activité" },
                    { title: "Photo" },
                    { title: "Auteur Photo" },
                    { title: "Actions" },
                ]
            } );
            } );

              $( function() {

                var res = [];
                dataSet.forEach(dt => {
                    var dtCopy = [...dt];
                    dtCopy.splice(1, 1);
                    dtCopy[4] = dtCopy[4].replace(/<a.+?>/g, '').replace('</a>', '');
                    dtCopy.splice(5, 1);
                    res.push(dtCopy);
                });
                
                var availableTags = [...new Set(res.join().split(','))];
                $("#eventList_wrapper").find('input').autocomplete({
                    source: availableTags,
                    position: {  collision: "flip"  }
                });
            } );

            
            var dataSet2 = {{ commentList|json_encode|raw }};

            $(document).ready(function() {
            $('#commentList').DataTable( {
                data: dataSet2,
                columns: [
                    { title: "Activité" },
                    { title: "Photo" },
                    { title: "Commentaire" },
                    { title: "Auteur Commentaire" },
                    { title: "Actions" },
                ]
            } );
            } );

            function sendMail(id, subject, content) {
            $.ajax({
                url: "/sendmail",
                type: 'POST',
                data: {
                        'id_Rank': id,
                        'subject': subject,
                        'content': content
                    },
                success: function (data) {
                    if(data == "OK") {
                        alert("Mail envoyé!", 'success');
                    } else {
                        alert(data, 'error');
                    }
                }
             });
            }


            
            function delPicture(id) {

                $.ajax({
                    url: "/events/action/delPicture",
                    type: 'POST',
                    data: {
                            'id': id
                        },
                        success: function (data) {
                            if(data == "OK") {
                                location.reload(true);
                            } else {
                                alert(data, 'error');
                            }
                        }
                });
            }


            $('input').trigger("change");
            $('textarea').trigger("change");
        </script>
    </body>
</html>
