<!DOCTYPE html>
<html>
 <head>
	 <meta charset="utf-8">
   <link rel="stylesheet" href="{{ asset('/vendors/bootstrap/css/bootstrap.css') }}" type="text/css"/>
   <link rel="stylesheet" href="{{ asset('/vendors/mdb/css/mdb.min.css') }}" type="text/css"/>
   <link rel="stylesheet" href="{{ asset('/vendors/mdb/css/modules/animations-extended.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
   <link rel="stylesheet" href="{{ asset('css/Animations.css') }}" type="text/css"/>
    
    

   <script src="{{ asset('/vendors/mdb/js/jquery.min.js') }}"></script>
   <script src="{{ asset('/vendors/mdb/js/mdb.min.js') }}"></script>
    <script src="{{ asset('js/actions.js') }}"></script>

    {# GARDER (C'est important) #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

          


	 <title>Admin Control Panel</title>
 </head>

    <body>
        <!-- Header -->
        {% include "header.html" %}

        <!-- Deuxième Header -->
        {% include "navbar.html" %}

    <div class="row" style="width: 100%">
        <div class="col">

        	<!--Container-->
            <div class="box" style="width: 65%;height: auto; margin: 5% auto;">
            <h1>Liste des évènements</h1>
                <table id="eventList" class="display nowrap" style="width:100%"></table>
            </div>

            <!--Container-->
            <div class="box" style="width: 65%;height: auto; margin: 5% auto;">

            <h1>Liste des photos</h1>
            <center><button class="btn btn-info btn-sm" onclick="location.href='/events/action/getPictureCSV'">Télécharger</button></center>
            <table id="pictureList" class="display nowrap" style="width:100%"></table>
            </div>

            <!--Container-->
            <div class="box" style="width: 65%;height: auto; margin: 5% auto;">

            <h1>Liste des commentaires</h1>
            <table id="commentList" class="display nowrap" style="width:100%"></table>
            </div>

        </div>
    </div>

        <!-- Footer & Animations -->
        {% include "footer.html" %}

        <style>
            form {
                margin: 20px;
            }
            .box {
                background-color: white;
            }
            .td {
                white-space: nowrap;
                width: 100%;                   
                overflow: hidden;
                text-overflow: ellipsis;
            }
            #eventList {
            table-layout: fixed;
            width: 100% !important;
            }
            #eventList td,
                #eventList th{
                width: auto !important;
                /* white-space: normal; */
                text-overflow: ellipsis;
                overflow: hidden;
            }
            #pictureList {
            table-layout: fixed;
            width: 100% !important;
            }
            #pictureList td,
                #pictureList th{
                width: auto !important;
                /* white-space: normal; */
                text-overflow: ellipsis;
                overflow: hidden;
            }
            #commentList {
            table-layout: fixed;
            width: 100% !important;
            }
            #commentList td,
                #commentList th{
                width: auto !important;
                /* white-space: normal; */
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .table-link {
                color: #77B !important;
            }
            input {
                color: black !important;
            }
            .list-btn {
                padding: 0 5px 0 5px;
                margin: 2px;
            }

            .ui-menu .ui-menu-item a{
                background:red;
                height:10px;
                font-size:8px;
            }
            h1 {
                color: black;
                margin: 20px;
            }

        </style>

           <script src="{{ asset('/vendors/alerts/alert.js') }}"></script>


         <script>

            var dataSet = {{ eventList|json_encode|raw }};

            $(document).ready(function() {
            $('#eventList').DataTable( {
                data: dataSet,
                columns: [
                    // { title: "Id" },
                    { title: "Titre" },
                    { title: "Photo" },
                    { title: "Date début", "data-sort": "%d/%m/%Y" },
                    { title: "Date fin", "data-sort": "%d/%m/%Y" },
                    { title: "Prix" },
                    { title: "Utilisateur" },
                    // { title: "Centre" },
                    { title: "Action" },
                ]
            } );
            } );

            var dataSet3 = {{ pictureList|json_encode|raw }};

            $(document).ready(function() {
            $('#pictureList').DataTable( {
                data: dataSet3,
                columns: [
                    { title: "Activité" },
                    { title: "Photo" },
                    { title: "Auteur Photo" },
                    { title: "Actions" },
                ]
            } );
            } );

              $( function() {

                var res = [];
                dataSet.forEach(dt => {
                    var dtCopy = [...dt];
                    dtCopy.splice(1, 1);
                    dtCopy[4] = dtCopy[4].replace(/<a.+?>/g, '').replace('</a>', '');
                    dtCopy.splice(5, 1);
                    res.push(dtCopy);
                });
                
                var availableTags = [...new Set(res.join().split(','))];
                $("#eventList_wrapper").find('input').autocomplete({
                    source: availableTags,
                    position: {  collision: "flip"  }
                });
            } );

            
            var dataSet2 = {{ commentList|json_encode|raw }};

            $(document).ready(function() {
            $('#commentList').DataTable( {
                data: dataSet2,
                columns: [
                    { title: "Activité" },
                    { title: "Photo" },
                    { title: "Commentaire" },
                    { title: "Auteur Commentaire" },
                    { title: "Actions" },
                ]
            } );
            } );

            function sendMail(id, subject, content) {
            $.ajax({
                url: "/sendmail",
                type: 'POST',
                data: {
                        'id_Rank': id,
                        'subject': subject,
                        'content': content
                    },
                success: function (data) {
                    if(data == "OK") {
                        alert("Mail envoyé!", 'success');
                    } else {
                        alert(data, 'error');
                    }
                }
             });
            }


            
            function delPicture(id) {

                $.ajax({
                    url: "/events/action/delPicture",
                    type: 'POST',
                    data: {
                            'id': id
                        },
                        success: function (data) {
                            if(data == "OK") {
                                location.reload(true);
                            } else {
                                alert(data, 'error');
                            }
                        }
                });
            }


            $('input').trigger("change");
            $('textarea').trigger("change");
        </script>
    </body>
</html>
