<html>
    <head>
        {% include "head.html" %}
        <title>BDE CESI TOULOUSE</title>
    </head>
    <body>

        <!-- Header -->
        {% include "header.html" %}

        <!-- Deuxième Header -->
        {% include "navbar.html" %}

        {{ error is defined ? error }}
        <div class="box" style="width: 777px;height: auto; margin: 5% auto;">
            <form method="POST" action="/events/action/new">

                <div class="md-form mt-3">
                    <label for="mail">Titre:</label><br>
                    <input id="mail" class="form-control" name="title" type="text" value="{{ data is defined ? data.title : '' }}"><br>
                </div>

                <div class="md-form">
                    <label for="materialContactFormMessage">Description:</label><br>
                    <textarea id="materialContactFormMessage" class="form-control md-textarea" name="description" type="text">{{ data is defined ? data.description : '' }}</textarea><br><br>
                </div>

                <div class="md-form mt-3">
                    <label for="mail">Photo:</label><br>
                    <input id="mail" class="form-control" name="picture" type="text" value="{{ data is defined ? data.picture : '' }}"><br><br>
                </div>

                <div class="md-form mt-3">
                    <label for="mail">Date début:</label><br>
                    <input id="mail" class="form-control" name="begin_date" type="datetime-local" value="{{ data is defined ? data.begin_date : '' }}" min="2019-01-01" max="2020-12-31"><br><br>
                </div>

                 <div class="md-form mt-3">
                    <label for="mail">Date fin:</label><br>
                    <input id="mail" class="form-control" name="end_date" type="datetime-local" value="{{ data is defined ? data.end_date : '' }}" min="2019-01-01" max="2020-12-31"><br><br>
                </div>

                <div class="md-form mt-3">
                    <label for="mail">Top event:</label><br>
                    <input id="mail" class="form-control" name="top_event" type="text" value="{{ data is defined ? data.top_event }}"/><br><br>
                </div>

                <div class="md-form mt-3">
                    <label for="mail">Prix:</label><br>
                    <input type="number" name="price" value="{{ data is defined ? data.price : '' }}"><br><br><br>
                </div>

                <div class="md-form">
                    <select class="browser-default custom-select" style="width: auto" name="id_Center" selected="{{ data is defined ? data.id_Center : '' }}">
                        <option selected>Localisation</option>
                        {% for center in centers %}
                        <option value="{{ center.id }}">{{ center.label }}</option>
                        {% endfor %}
                    </select><br><br><br>
                </div>

                <div class="md-form">
                    <select class="browser-default custom-select" style="width: auto" name="id_Recurrence" selected="{{ data is defined ? data.id_Recurrence : '' }}">
                        <option selected>Récurence</option>
                        {% for rec in recs %}
                        <option value="{{ rec.id }}">Tous les {{ rec.label }} jours</option>
                        {% endfor %}
                    </select><br><br><br>
                </div>

                <button class="btn btn-primary btn-block" type="submit" style="margin-right: auto; margin-left: auto;">Créer</button>
            </form>
        </div>

        <!-- Footer & Animations -->
        {% include "footer.html" %}

        <style>
            form {
                margin: 20px;
            }
            .md-form{
                margin-bottom: -2.5rem;
            }
        </style>
    </body>
</html>