<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "head.html" %}
        <title>BDE CESI TOULOUSE</title>
        <style>
            form {
                margin: 20px;
            }
            .md-form{
                margin-bottom: -2.5rem;
            }
        </style>
    </head>

    <body>

    <!-- Header -->
    {% include "header.html" %}

    <!-- Deuxième Header -->
    {% include "navbar.html" %}



    <!--Container-->
    <div class="box" style="width: 777px;height: auto; margin: 5% auto;">
    <form action="/events/edit/{{ event.activity.id }}">

        <div class="md-form mt-3">
            <label for="title">Titre:</label><br>
            <input id="title" class="form-control" name="title" type="text" value="{{ event.activity.title }}"/><br>
        </div>

        <div class="md-form">
            <label for="description">Description:</label><br>
            <textarea id="description" class="form-control md-textarea" name="description">{{ event.activity.description }}</textarea><br><br>
        </div>

        <div class="md-form mt-3">
            <label for="picture">Photo:</label><br>
            <input id="picture" class="form-control" name="picture" type="text" value="{{ event.activity.picture }}"/><br><br>
        </div>

        <div class="md-form mt-3">
            <label for="begin_date">Date début:</label><br>
            <input id="begin_date" class="form-control" name="begin_date" type="datetime-local" value="{{ event.activity.begin_date }}"/><br><br>
        </div>

        <div class="md-form mt-3">
            <label for="end_date">Date fin:</label><br>
            <input id="end_date" class="form-control" name="end_date" type="datetime-local" value="{{ event.activity.end_date }}"/><br><br>
        </div>

        <div class="md-form mt-3">
            <label for="top_event">Top event:</label><br>
            <input id="top_event" class="form-control" name="top_event" type="text" value="{{ event.activity.top_event }}"/><br><br>
        </div>

        <div class="md-form mt-3">
            <label for="price">Prix:</label><br>
            <input id="price" class="form-control" name="price" type="text" value="{{ event.activity.price }}"/><br><br>
        </div>

        <div class="md-form mt-3">
            <label for="id_Center">id_Center:</label><br>
            <input id="id_Center" class="form-control" name="id_Center" type="text" value="{{ event.activity.id_Center }}"/><br><br>
        </div>

        <div class="md-form mt-3">
            <label for="id_State">id_State:</label><br>
            <input id="id_State" class="form-control" name="id_State" type="text" value="{{ event.activity.id_State }}"/><br><br>
        </div>

        <div class="md-form mt-3">
            <label for="id_Recurrence">id_Recurrence:</label><br>
            <input id="id_Recurrence" class="form-control" name="id_Recurrence" type="text" value="{{ event.activity.id_Recurrence }}"/><br><br>
        </div>


            <button class="btn btn-primary btn-block" type="submit" style="margin-right: auto; margin-left: auto;">Modifier</button>
            <button class="btn btn-primary btn-block" style="margin-top: 15px;margin-left: auto;margin-right: auto;width: 400px;height: 47px;background-color: #a20000 !important;">Supprimer l'événement</button>
        </form>
    </div>

        <!-- Footer & Animations -->
        {% include "footer.html" %}
    </body>
</html>