<html>
    <head>
        {% include "head.html" %}
        <title>BDE CESI TOULOUSE</title>
    </head>

    <body>

    <!-- Header -->
    {% include "header.html" %}

    <!-- Deuxième Header -->
    {% include "navbar.html" %}



    <!--Container-->
    <div class="row">
        <div class="col box" style="width: 777px;height: auto; margin: 5% auto;margin-left: 10%;margin-right: 5%">
        <form method="POST"action="/profile">
            <h1>Profil</h1>
            <div class="row">
                <div class="md-form mt-3 col">
                    <label class="col" for="mail">Prénom</label><br>
                    <input id="firstname" class="form-control" name="firstname" required="required" type="text" value="{{user.firstname}}"/><br><br>
                </div>

                <div class="md-form mt-3 col">
                    <label class="col" for="mail">Nom</label><br>
                    <input id="lastname" class="form-control" name="lastname" required="required" type="text" value="{{user.lastname}}"/><br><br>
                </div>
            </div>
            <div class="row">
                <div class="md-form mt-3 col">
                    <label class="col" for="mail">Mail</label><br>
                    <input id="mail" class="form-control" name="mail" required="required" type="text" value="{{user.mail}}"/><br><br>
                </div>

                <div class="md-form mt-3 col">
                    <label class="col" for="mail">Modifier le mot de passe</label><br>
                    <input id="password" class="form-control" name="password" required="required" type="text" value=""/><br><br>
                </div>
                </div>
                
                <div class="md-form">
                    <label class="" for="mail">Localisation</label><br><br>
                    <select class="browser-default custom-select" style="width: auto" name="id_Center" selected="{{ user.id_Center }}">
                        {% for center in centers %}
                        <option value="{{ center.id }}" {{(centers[(center.id)-1].id == center.id) ? 'selected' :''}}>{{ center.label }}</option>
                        {% endfor %}
                    </select><br><br><br>
                </div>

                <button class="btn btn-primary btn-block" type="submit" style="margin-right: auto; margin-left: auto;">Modifier le profil</button>
            </form>
        </div>

        <div class="box col" style="width: 777px;height: auto; margin: 5% auto;margin-left: 5%;margin-right: 10%">
            <form method='POST' action="/profile/preference">

                <h1>Préférence</h1>

                <div class="md-form">
                    <label class="" for="mail">Thème</label><br><br>
                    <select class="browser-default custom-select" style="width: auto" name="theme" selected="{{ preference.theme }}">
                        <option value="1" {{preference.theme == '1' ? 'selected' :''}}>Sombre</option>
                        <option value="2" {{preference.theme == '2' ? 'selected' :''}}>Clair</option>
                    </select><br><br><br>
                </div>

                <div class="md-form">
                    <label class="" for="mail">Notification</label><br><br>
                    <select class="browser-default custom-select" style="width: auto" name="notification" selected="{{ preference.notification }}">
                        <option value="1" {{preference.notification == '1' ? 'selected' :''}}>Oui</option>
                        <option value="0" {{preference.notification == '0' ? 'selected' :''}}>Non</option>
                    </select><br><br><br>
                </div>

                    <button class="btn btn-primary btn-block" type="submit" style="position: relative;margin-right: auto; margin-left: auto;top: 85">Modifier les préférences</button>
            </form>
    </div>


        <!-- Footer & Animations -->
        {% include "footer.html" %}

        <style>
            form {
                margin: 20px;
            }
            .md-form{
                margin-bottom: -2.5rem;
            }
        </style>
    </body>
</html>