<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
        <title>Boutique</title>
    </head>

    <body>
        <!-- Header -->
        {% include "header.html" %}
        <div style="background: #eceef0 url(/images/boutique.jpg) no-repeat 0% 55% / cover; height: 460px;"></div>

        <!-- Deuxième Header -->
        {% include "navbar.html" %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

        
        <!-- Contenu de page -->
            <div class="row" style="width: 99%">
                <div class="col-2"></div>
                <div class="col-10">

                <div>
                    <input id="search_input" class="form-control" type="text" value="" style="width:20%;position:absolute;left:130px;top:40px" placeholder="Rechercher un produit..." />
                </div>

                    <div class="cards">
                        <h1 class="titrepage">Top ventes<h1>
                        <div class="row justify-content-md-center" style="margin: 50px;">
                            {% for product in mostPop %}
                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body" style="background: #eceef0 url({{ product.picture }}) no-repeat 50% 50% / cover;">
                                            {% if user != null %}
                                                {% if user.id_Rank == 2 or user.id_Rank == 3 %}
                                                    <a href="/shop/products/edit/{{ product.id }}" class="btn btn-danger">Modifier</a>
                                                {% endif %}
                                            {% endif %}
                                            <div class="card-sub">
                                                <h5 class="card-title price-text">{{ product.price|number_format(2) }} €</h5>
                                                <h4 class="card-title"><a>{{ product.label }}</a></h4>
                                                <p class="card-text">{{ product.description }}</p>
                                                <div class="md-form" style="font-size: 18px;bottom: 30px;">
                                                    <input class="form-control" style="width:100%" id="qt-{{ product.id }}" type="number" name="quantity" value="1" min="1" max="1000">
                                                </div>
                                                {% if user == null %}
                                                    <a href="/login" class="btn btn-success btn-sm">Ajouter au panier</a>
                                                {% else %}
                                                    <button href="#" class="btn btn-success btn-sm" onclick="addToCart({{ product.id }})">Ajouter au panier</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="com_space"></div>
                        </div>
                        {% for categorie in categories %}
                            {% if categorie.products|length > 0 %}
                                <h1 class="titrepage">{{ categorie.label }}<h1>
                                <div class="row justify-content-md-center" style="margin: 50px;">
                                    {% for product in categorie.products %}
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="card-body" style="background: #eceef0 url({{ product.picture }}) no-repeat 50% 50% / cover;">
                                                    {% if user != null %}
                                                        {% if user.id_Rank == 2 or user.id_Rank == 3 %}
                                                            <a href="/shop/products/edit/{{ product.id }}" class="btn btn-danger">Modifier</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="card-sub">
                                                        <h5 class="card-title price-text">{{ product.price|number_format(2) }} €</h5>
                                                        <h4 class="card-title"><a>{{ product.label }}</a></h4>
                                                        <p class="card-text">{{ product.description }}</p>
                                                        <div class="md-form" style="font-size: 18px;bottom: 30px;">
                                                            <input class="form-control" style="width:100%" id="qt-{{ product.id }}" type="number" name="quantity" value="1" min="1" max="1000">
                                                    </div>
                                                    {% if user == null %}
                                                        <a href="/login" class="btn btn-success btn-sm">Ajouter au panier</a>
                                                    {% else %}
                                                        <button href="#" class="btn btn-success btn-sm" onclick="addToCart({{ product.id }})">Ajouter au panier</button>
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            
            <!-- LEFT PANEL -->
            <div class="leftpanel"></div>
            <div style="position: sticky;top: 110px;margin-top: -2130px;padding: 30px;height: 331px;z-index: -1;">
                {% if user != null %}
                    {% if user.id_Rank == 3 %}
                        <div>
                            <h2 style="font-variant: all-petite-caps;">Panel membre</h2>
                            <button class="btn btn-secondary" onclick="location.href='/shop/products/new'" style="width: -webkit-fill-available; margin-right: 7%;">Ajouter un produit</button>
                            <button class="btn btn-secondary" onclick="location.href='/shop/categories'" style="width: -webkit-fill-available; margin-right: 7%;">Gérer les catégories</button>
                        </div>
                    {% endif %}
                    <div>
                        <h2 style="font-variant: all-petite-caps;margin-top: 125px;">Panel utilisateur</h2>
                        <button class="btn btn-secondary" onclick="location.href='/shop/cart'" style="width: -webkit-fill-available; margin-right: 7%;">Panier</button>
                    </div>
                {% else %}
                    <h2 style="font-variant: all-petite-caps;">Faire des achats ?</h2>
                    <button class="btn btn-secondary" onclick="location.href='/login'" style="width: -webkit-fill-available; margin-right: 0;">Se Connecter</button>
                {% endif %}
                <div class="descboutique">
                    <h4 style="font-variant: all-petite-caps;">La boutique</h4>
                    <p style="text-align: justify;font-style: italic;font-size: small;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus ut orci in venenatis. Proin sollicitudin magna ut cursus pretium. In ut lectus vehicula, convallis orci eu, iaculis metus. Vestibulum consequat ipsum sit amet pretium consequat. Phasellus tristique arcu non molestie tincidunt. Aliquam porta lacus justo, in tristique libero tempor sed. Ut sed lorem lacus.<p>
                </div>
                </div>
            </div>

        <!-- Footer & Animations -->
        {% include "footer.html" %}


        <script>
        $( function() {
            var tags = [];
            $('.card').each(function () {
                tags.push($(this).find('.card-title > a').html())
            });
            var uTags = [...new Set(tags)];
            $("#search_input").autocomplete({
                source: uTags,
                select: function() {
                    updateProductsDisp();
                }
            });
        } );

        $("#search_input").keyup(updateProductsDisp);

        function updateProductsDisp() {
            $('.card').each(function () {
                if($(this).find('.card-title > a').html().toLowerCase().includes($("#search_input").val().toLowerCase())) {
                    $(this).parent('.col-lg-4').css('display', 'block');
                } else {
                    $(this).parent('.col-lg-4').css('display', 'none');
                }
            });
        }
        </script>
    </body>
</html>
