<!DOCTYPE html>
<html>
 <head>
	 {% include "head.html" %}
	 <title>BDE Toulouse | Créer un produit</title>
 </head>

    <body>
        <!-- Header -->
        {% include "header.html" %}

        <!-- Deuxième Header -->
        {% include "navbar.html" %}


 <!--Container-->
   <div class="box" style="width: 777px;height: auto; margin: 5% auto;">

    <p style="text-align:center; color: #FAA">{{ error is defined ? error : '' }}</p>

	<form method="POST" action="/shop/products/new">
        <p><div class="md-form mt-3">
                <label for="name">Nom</label>
                <input id="name" class="form-control" name="label" required="required" type="text" value="{{ data is defined ? data.label : '' }}" />
        </div></p>

        <p><div class="md-form mt-3">
            <label for="desc">Description</label>
            <textarea id="desc" class="md-textarea form-control" name="description" required="required" cols="" rows="1">{{ data is defined ? data.description : '' }}</textarea>
        </div></p>
        
        <p><div class="md-form mt-3">
            <label for="pic">Photo</label>
            <input id="pic" class="form-control" name="picture" required="required" type="text" value="{{ data is defined ? data.picture : '' }}" />
        </div></p>

        	<p><div class="md-form mt-3">
			    <label for="price">Prix</label>
				<input id="price" class="form-control" name="price" required="required" type="number" value="{{ data is defined ? data.price : '' }}" /> 
			</div></p>

			<p><div class="md-form mt-3">
					<label for="dtime">Temps de livraison (en jours)</label>
					<input id="dtime" class="form-control" name="delevery_date" required="required" type="number" value="{{ data is defined ? data.delevery_date : '' }}" /> 
			</div></p>

            <div class="md-form">
                <select id="cent" class="browser-default custom-select" style="width: auto" name="id_Center" selected="{{ data is defined ? data.id_Center : user.id_Center }}">
                    {% for center in centers %}
                    <option value="{{ center.id }}">{{ center.label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="md-form">
                <select class="browser-default custom-select" style="width: auto" name="id_Category" selected="{{ data is defined ? data.id_Category : '' }}">
                    <option selected>Catégorie</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.label }}</option>
                    {% endfor %}
                </select><br><br><br>
            </div>
		<p> 
			<button class="btn btn-primary btn-block" type="submit">Ajouter le produit</button>
		</p>
	</form>
  </div>







        <!-- Footer & Animations -->
        {% include "footer.html" %}

        <style>
            form {
                margin: 20px;
            }
        </style>

         <script>
            $('input').trigger("change");
            $('textarea').trigger("change");
        </script>
    </body>
</html>
