<!DOCTYPE html>
<html>
 <head>
    {% include "head.html" %}
	<title>Gestion des catégories</title>
 </head>

    <body>
        <!-- Header -->
        {% include "header.html" %}

        <!-- Deuxième Header -->
        {% include "navbar.html" %}


    <div class="row">
    <div class="col">
    
        <div class="box" style="width: 777px;height: auto; margin: 5% auto;">
            {% for category in categories %}
                <h1>{{ category.label }}</h1>
                <button class="btn btn-danger btn-block" onclick="removeCategory({{ category.id }})">Supprimer la catégorie</button>
                <br /><br /><br />
            {% endfor %}
        </div>

    </div>
    <div class="col">

        <div class="box" style="width: 777px;height: auto; margin: 5% auto;">
            <p style="text-align:center; color: #FAA">{{ error is defined ? error : '' }}</p>
                <label for="name">Nom</label>
                <input id="name" class="form-control" name="label" required="required" type="text" value="{{ data is defined ? data.label : '' }}" />
                <br />
                <p>
                    <button class="btn btn-primary btn-block" onclick="createCategory()">Créer la catégorie</button>
                </p>
        </div>
    
    </div>
    </div>








        <!-- Footer & Animations -->
        {% include "footer.html" %}

        <style>
            form {
                margin: 20px;
            }
        </style>

         <script>

        function removeCategory(id) {
            $.ajax({
                url: "/shop/categories/remove",
                type: 'POST',
                data: {
                        'id': id,
                    },
                success: function (data) {
                    if(data == 'OK') {
                        location.reload(true);
                    } else {
                        alert(data, 'error');
                    }
                }
            });
        }

         function createCategory() {
            $.ajax({
                url: "/shop/categories/new",
                type: 'POST',
                data: {
                        'label': $("#name").val(),
                    },
                success: function (data) {
                    if(data == 'OK') {
                        location.reload(true);
                    } else {
                        alert(data, 'error');
                    }
                }
            });
        }

            $('input').trigger("change");
            $('textarea').trigger("change");
        </script>
    </body>

        <script src="{{ asset('/vendors/alerts/alert.js') }}"></script>

</html>
