<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "head.html" %}
        <title>Boutique</title>
        <style>
        .leftpanel-shop{
            background-color: #313131;
            height: 100vh;
            width: 350px;
            text-align: center;
            padding: 20px;
            box-shadow: 2px 0px 10px black;
            position: -webkit-sticky;
            position: sticky;
	        top: 100px;
        }
        </style>
    </head>

    <body style="overflow-x:hidden;">
        <!-- Header -->
        {% include "header.html" %}
        <div style="background: #eceef0 url(/images/boutique.jpg) no-repeat 0% 55% / cover; height: 460px;"></div>

        <!-- Deuxième Header -->
        {% include "navbar.html" %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

        
        <!-- Contenu de page -->
        <div class="row" style="width: 101%;">
            <div class="col-2">
                
                <div class="leftpanel-shop">
                {% if user != null %}
                    {% if user.id_Rank == 3 %}
                        <div>
                            <h2 style="font-variant: all-petite-caps;">Panel membre</h2>
                            <button class="btn btn-secondary" onclick="location.href='/shop/products/new'" style="width: -webkit-fill-available; margin-right: 7%;">Ajouter un produit</button>
                            <button class="btn btn-secondary" onclick="location.href='/shop/categories'" style="width: -webkit-fill-available; margin-right: 7%;">Gérer les catégories</button>
                        </div>
                    {% endif %}
                    <div>
                        <h2 style="font-variant: all-petite-caps;margin-top: 125px;">Panel utilisateur</h2>
                        <button class="btn btn-secondary" onclick="location.href='/shop/cart'" style="width: -webkit-fill-available; margin-right: 7%;">Panier</button>
                    </div>
                {% else %}
                    <h2 style="font-variant: all-petite-caps;">Faire des achats ?</h2>
                    <button class="btn btn-secondary" onclick="location.href='/login'" style="width: -webkit-fill-available; margin-right: 0;">Se Connecter</button>
                {% endif %}
                <div class="descboutique">
                    <h4 style="font-variant: all-petite-caps;">La boutique</h4>
                    <p style="text-align: justify;font-style: italic;font-size: small;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus ut orci in venenatis. Proin sollicitudin magna ut cursus pretium. In ut lectus vehicula, convallis orci eu, iaculis metus. Vestibulum consequat ipsum sit amet pretium consequat. Phasellus tristique arcu non molestie tincidunt. Aliquam porta lacus justo, in tristique libero tempor sed. Ut sed lorem lacus.<p>
                </div>

            </div>

                
                
                
                </div>
                <div class="col-10">

                <div>
                    <input id="search_input" class="form-control" type="text" value="" style="width:20%;position:absolute;left:130px;top:40px" placeholder="Rechercher un produit..." />
                </div>

                    <div class="cards">
                        <h1 class="titrepage">Top ventes</h1>
                        <div class="row justify-content-md-center" style="margin: 50px;">
                            {% for product in mostPop %}
                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-body" style="background: #eceef0 url({{ product.picture }}) no-repeat 50% 50% / cover;">
                                            {% if user != null %}
                                                {% if user.id_Rank == 3 %}
                                                    <a href="/shop/products/edit/{{ product.id }}" class="btn btn-danger">Modifier</a>
                                                {% endif %}
                                            {% endif %}
                                            <div class="card-sub">
                                                <h5 class="card-title price-text">{{ product.price|number_format(2) }} €</h5>
                                                <h4 class="card-title"><a>{{ product.label }}</a></h4>
                                                <p class="card-text">{{ product.description }}</p>
                                                <div class="md-form" style="font-size: 18px;bottom: 30px;">
                                                    <input class="form-control" style="width:100%" id="qt-{{ product.id }}" type="number" name="quantity" value="1" min="1" max="1000">
                                                </div>
                                                {% if user == null %}
                                                    <a href="/login" class="btn btn-success btn-sm">Ajouter au panier</a>
                                                {% else %}
                                                    <button class="btn btn-success btn-sm" onclick="addToCart({{ product.id }})">Ajouter au panier</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="com_space"></div>
                        </div>
                        {% for categorie in categories %}
                            {% if categorie.products|length > 0 %}
                                <h1 class="titrepage">{{ categorie.label }}</h1>
                                <div class="row justify-content-md-center" style="margin: 50px;">
                                    {% for product in categorie.products %}
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="card-body" style="background: #eceef0 url({{ product.picture }}) no-repeat 50% 50% / cover;">
                                                    {% if user != null %}
                                                        {% if user.id_Rank == 3 %}
                                                            <a href="/shop/products/edit/{{ product.id }}" class="btn btn-danger">Modifier</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="card-sub">
                                                        <h5 class="card-title price-text">{{ product.price|number_format(2) }} €</h5>
                                                        <h4 class="card-title"><a>{{ product.label }}</a></h4>
                                                        <p class="card-text">{{ product.description }}</p>
                                                        <div class="md-form" style="font-size: 18px;bottom: 30px;">
                                                            <input class="form-control" style="width:100%" id="qt-{{ product.id }}" type="number" name="quantity" value="1" min="1" max="1000">
                                                    </div>
                                                    {% if user == null %}
                                                        <a href="/login" class="btn btn-success btn-sm">Ajouter au panier</a>
                                                    {% else %}
                                                        <button class="btn btn-success btn-sm" onclick="addToCart({{ product.id }})">Ajouter au panier</button>
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            

        </div>
        <!-- Modal Cookies -->
        <!-- Modal -->
        <div class="modal fade bottom show" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <div id="myModalLabel" class="modal-dialog modal-frame modal-bottom" style="position: fixed;width: inherit;bottom: 0;margin: 0 auto;max-width: inherit;" role="document">


            <div class="modal-content" style="border-radius: 0;color: white;border: 0;border-top: 4px solid hsl(39, 100%, 66%);">
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">

                <p class="pt-3 pr-2">Nous utilisons des cookies pour améliorer l'expérience sur notre site Web</p>

                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-top: initial;margin-right: 15px;margin-left: 60px;" onclick="location.href='/legal'">Lire</button>
                <button type="button" class="btn btn-primary" onclick="acceptCookies()">Accepter</button>
                </div>
            </div>
            </div>
        </div>
        </div>
        {% if cookies == false %}
        <script>$(".modal").modal("show")</script>
        {% endif %}

        <!-- Animations -->
        <div class="wavecontainer" style="margin-top: -300px;">
            <div class="waveWrapper waveAnimation" style="position: relative; height: 100%; width: 100%;">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('/images/wave3.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('/images/wave2.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('/images/wave3.png')"></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row" style="width: 100%;">
                <div class="col-lg-6" style="z-index: 2;">
                    <h5 style="float: left; margin-left: 25px">A propos</h5>
                    <p style="float: left; margin-left: 25px; text-align: left; font-size: small;">Ayant un penchant naturel vers la programmation et le développement, un groupe de jeunes étudiants en école d'ingénieur décidèrent de fonder en Juin 2019 la plateforme HiDev. Nous construisons vos projet sur mesures et nous vous garantissons un travail de qualité ainsi que d'un suivi particulier pour s'assurer du bon fonctionnement de vos commandes. Étant en spécialité informatique nous pouvons couvrir une grande partie des projets grand publique ainsi que de l'entretien de vos serveurs, bases de données, site web, etc.. Si cependant une catégorie vous manque sur le site n'hésitez pas a nous la proposer.</p>
                </div>
                <div class="col" style="z-index: 2;text-align: initial;">
                    <h5>Informations</h5>
                    <h6><a href="/legal">Mentions légales</a></h6>
                    <h6><a href="/legal">Cookies</a></h6>
                    <h6><a href="/legal">Conditions Générales de Vente et d'Utilisation</a></h6>
                </div>
                <div class="col" style="z-index: 2;">
                    <h5>Social</h5>
                    <h6>A VENIR</h6>
                </div>
            </div>
        </footer>

        <script src="{{ asset('/vendors/alerts/alert.js') }}"></script>


        <script>
        $( function() {
            var tags = [];
            $('.card').each(function () {
                tags.push($(this).find('.card-title > a').html())
            });
            var uTags = [...new Set(tags)];
            $("#search_input").autocomplete({
                source: uTags,
                select: function() {
                    updateProductsDisp();
                }
            });
        } );

        $("#search_input").keyup(updateProductsDisp);

        function updateProductsDisp() {
            $('.card').each(function () {
                if($(this).find('.card-title > a').html().toLowerCase().includes($("#search_input").val().toLowerCase())) {
                    $(this).parent('.col-lg-4').css('display', 'block');
                } else {
                    $(this).parent('.col-lg-4').css('display', 'none');
                }
            });
        }
        </script>
    </body>
</html>
