<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('/vendors/bootstrap/css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/Animations.css') }}" type="text/css"/>
    </head>

    <body>
        <!-- Header -->
        <header>
            {% if user == null %}
                <button class="btn btn-primary" style="margin: 10px;"><a href="/login">Connexion</a></button>
                <button class="btn btn-secondary"><a href="/register">Inscription</a></button>
            {% else %}
                <div class="compte"><a href="/profile">Bonjour, {{user.firstname}}</a></div>
            {% endif %}

            <ul class="nav">
                <li><a href="/">Accueil</a></li>
                <li><a href="/events">Evenements</a></li>
                <li><a href="#">Boutique</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>

        <!-- Deuxième Header -->
        <div class="nav-bar">
            {% if user != null %}
            <button class="btn btn-secondary" style="padding: inherit; margin: 4px; width: 106px;"><a href="./users/logout">Déconnexion</a></button>
            <ul class="nav" style="padding: 0;">
                <li><a href="#">Souscriptions</a></li>
                <li><a href="#">Configuration</a></li>
            </ul>
            {% endif %}
        </div>

        

        <div class="cards">

        {% for categorie in categories %}
        <h1>{{ categorie.label }}<h1>
            {% for product in categorie.products %}
        {% endfor %}

            <div class="row justify-content-md-center" style="margin: 50px;">

                <div class="col">

                    <!-- Card -->
                    <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://files.sympa-sympa.com/files/news/part_60/603610/3991910-Screenshot202018-12-0420at20081427-1544009633-728-ff912a04f6-1544711268.jpg" alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Card title</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>

                    </div>
                    <!-- Card -->

                </div>

                <div class="col">

                                    <!-- Card -->
                    <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://files.sympa-sympa.com/files/news/part_60/603610/3991910-Screenshot202018-12-0420at20081427-1544009633-728-ff912a04f6-1544711268.jpg" alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Card title</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>

                    </div>
                    <!-- Card -->
                    
                </div>

                <div class="col">

                                    <!-- Card -->
                    <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://files.sympa-sympa.com/files/news/part_60/603610/3991910-Screenshot202018-12-0420at20081427-1544009633-728-ff912a04f6-1544711268.jpg" alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Card title</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>

                    </div>
                    <!-- Card -->
                </div>


            </div>

        </div>







        <!-- Animations -->
        <div style="width: 100%; height: 300px;">
            <div class="waveWrapper waveAnimation" style="position: relative; height: 100%; width: 100%;">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('/images/wave3.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('/images/wave2.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('/images/wave3.png')"></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row" style="width: 100%;">
                <div class="col-lg-6" style="z-index: 2;">
                    <h5 style="float: left; margin-left: 25px">A propos</h5>
                    <p style="float: left; margin-left: 25px; text-align: left; font-size: small;">Ayant un penchant naturel vers la programmation et le développement, un groupe de jeunes étudiants en école d'ingénieur décidèrent de fonder en Juin 2019 la plateforme HiDev. Nous construisons vos projet sur mesures et nous vous garantissons un travail de qualité ainsi que d'un suivi particulier pour s'assurer du bon fonctionnement de vos commandes. Étant en spécialité informatique nous pouvons couvrir une grande partie des projets grand publique ainsi que de l'entretien de vos serveurs, bases de données, site web, etc.. Si cependant une catégorie vous manque sur le site n'hésitez pas a nous la proposer.</p>
                </div>
                <div class="col" style="z-index: 2;">
                    <h5>Mentions légales</h5>
                </div>
                <div class="col" style="z-index: 2;">
                    <h5>Social</h5>
                </div>
            </div>
        </footer>
    </body>


    <style>
        h1 {
            color: white;
            text-align: center;
        }
        .card {
            width: 100%;
        }
    </style>

</html>
