<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('/vendors/bootstrap/css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('/vendors/mdb/css/mdb.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('/vendors/mdb/css/modules/animations-extended.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/Animations.css') }}" type="text/css"/>

        <script src="{{ asset('/vendors/mdb/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/vendors/mdb/js/mdb.min.js') }}"></script>

        <title>Votre panier</title>
    </head>

    <body>
        <!-- Header -->
        <header>
            {% if user == null %}
                <button class="btn btn-primary" style="margin: 10px;"><a href="/login">Connexion</a></button>
                <button class="btn btn-secondary"><a href="/register">Inscription</a></button>
            {% else %}
                <div class="compte"><a href="/profile">Bonjour, {{user.firstname}}</a></div>
            {% endif %}

            <ul class="nav">
                <li><a href="/">Accueil</a></li>
                <li><a href="/events">Evenements</a></li>
                <li><a href="#">Boutique</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>

        <!-- Deuxième Header -->
        <div class="nav-bar">
            {% if user != null %}
            <button class="btn btn-secondary" style="padding: inherit; margin: 4px; width: 106px;"><a href="/users/logout">Déconnexion</a></button>
            <ul class="nav" style="padding: 0;">
                <li><a href="#">Souscriptions</a></li>
                <li><a href="#">Configuration</a></li>
            </ul>
            {% endif %}
        </div>

        
        <div class="row">

        <div class="col-10">

        <div class="cards">

           <h1>Votre panier<h1>

            <div class="row justify-content-md-center" style="margin: 50px;">

                {% set priceTot = 0 %}
                {% for product in products %}
                {% set priceTot = priceTot + product.quantity * product.product.price %}

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body" style="background: #eceef0 url({{ product.product.picture }}) no-repeat 50% 50% / cover;">
                                <button onclick="removeFromCart({{ product.product.id }})" class="btn btn-danger">Enlever</button>
                                <div class="card-sub">
                                    <h5 class="card-title price-text">{{ product.product.price|number_format(2) }} €</h5>
                                    <h4 class="card-title"><a>{{ product.product.label }}</a></h4>
                                    <p class="card-text">{{ product.product.description }}</p>
                                    <p class="card-text quantity-text">x {{ product.quantity }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                </div>

        </div>

        <div class="col-2"></div>

        </div>

        <!-- LEFT PANEL -->
         <div class="left-pan" style="overflow-y: scroll; background-color:#111; position:fixed; right:0; height: 100%; width: 350px; text-align: center; padding: 20px;">

            <h2>Passer commande</h2>
            <h4>Sous-total: {{ priceTot|number_format(2) }} €</h4>
            <h4>TTC: {{ (priceTot * 1.2)|number_format(2) }} €</h4>
            
            <p style="color:white;">Vos données personnelles seront utilisées pour le traitement de votre commande, vous accompagner au cours de votre visite du site web, et pour d’autres raisons décrites dans notre <a style="color:blue;" href="#">politique de confidentialité</a>.</p>

            <a href="#"><div id="paypal-button-container"></div></a>
            <button id="buy" class="btn btn-success" onclick="buyCart()">Acheter</button>

        </div>

        </div>




        <!-- Animations -->
        <div style="width: 100%; height: 300px;">
            <div class="waveWrapper waveAnimation" style="position: relative; height: 100%; width: 100%;">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('/images/wave3.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('/images/wave2.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('/images/wave3.png')"></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row" style="width: 100%;">
                <div class="col-lg-6" style="z-index: 2;">
                    <h5 style="float: left; margin-left: 25px">A propos</h5>
                    <p style="float: left; margin-left: 25px; text-align: left; font-size: small;">Ayant un penchant naturel vers la programmation et le développement, un groupe de jeunes étudiants en école d'ingénieur décidèrent de fonder en Juin 2019 la plateforme HiDev. Nous construisons vos projet sur mesures et nous vous garantissons un travail de qualité ainsi que d'un suivi particulier pour s'assurer du bon fonctionnement de vos commandes. Étant en spécialité informatique nous pouvons couvrir une grande partie des projets grand publique ainsi que de l'entretien de vos serveurs, bases de données, site web, etc.. Si cependant une catégorie vous manque sur le site n'hésitez pas a nous la proposer.</p>
                </div>
                <div class="col" style="z-index: 2;">
                    <h5>Mentions légales</h5>
                </div>
                <div class="col" style="z-index: 2;">
                    <h5>Social</h5>
                </div>
            </div>
        </footer>
    </body>


    <style>
        h1 {
            color: white;
            text-align: center;
        }
        .card {
            margin-bottom: 50px;
            width: 320px;
            height: 500px;
        }
        .card-body {
            background-color: #111;
        }
        .card-text {
            font-size: 18px;
        }
        .quantity-text {
            font-size: 18px;
        }
        .card-sub {
            width: 100%;
            height: 120px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 10px;
        }
        .card:hover {
            filter: contrast(1.1);
            transition: .1s;
        }
        .card-sub > .btn-sm {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .card-sub > .md-form {
            width: 40%;
            position: absolute;
            bottom: -18px;
        }
        .card-sub > .price-text {
            position: absolute;
            right: 5px;
            bottom: 8px;
        }
        .card-sub > .quantity-text {
            color: white !important;
            position: absolute;
            right: 5px;
            bottom: 6px;
        }
        .card-body > .btn-danger {
            position: absolute;
            top: -10px;
            right: -10px;
        }

        @media screen and (max-width: 992px) {
            .left-pan {
                display: none !important;
            }
        }
    </style>

    <script>
        function removeFromCart(id) {
            $.ajax({
                url: "/shop/products/removecart",
                type: 'POST',
                data: {
                        'id_Product': id,
                    },
                success: function (data) {
                    if(data == 'OK') {
                        alert("Produit supprimé du panier!", 'success');
                        location.reload(true);
                    } else {
                        alert(data, 'error');
                    }
                }
            });
        }

        function buyCart() {

            $('#buy').attr("disabled", true);

            $.ajax({
                url: "/events/cart/buy",
                type: 'POST',
                data: {},
                success: function (data) {
                    if(data == 'OK') {
                        alert("Achat réussi!", 'success');
                        location.reload(true);
                    } else {
                        alert(data, 'error');
                        $('#buy').attr("disabled", false);
                    }
                }
            });

        }

        $('#qt').val(1);
        $('input').trigger("change");
    </script>

      <script src="https://www.paypal.com/sdk/js?client-id=AVgXX5EMt4zaPbhz0qT3cuKkaAUeAwSicYXe2VzON39IOoamgtw6Sg5F9wUbOP-3Rn7jVnoOHd4NxpGr"></script>

  <script>
    paypal.Buttons().render('#paypal-button-container');
    // This function displays Smart Payment Buttons on your web page.
  </script>

    <script src="{{ asset('/vendors/alerts/alert.js') }}"></script>

</html>
