<!DOCTYPE html>
<html lang="fr">
 <head>
	 {% include "head.html" %}
	 <title>Editer un produit</title>
        <style>
            form {
                margin: 20px;
            }
        </style>
 </head>

    <body>
        <!-- Header -->
        {% include "header.html" %}

        <!-- Deuxième Header -->
        {% include "navbar.html" %}


 <!--Container-->
   <div class="box" style="width: 777px;height: auto; margin: 5% auto;">

    <p style="text-align:center; color: #FAA">{{ error is defined ? error : '' }}</p>

	<form method="POST" action="/shop/products/edit/{{ data.id }}">
        <div class="md-form mt-3">
                <label for="name">Nom</label>
                <input id="name" class="form-control" name="label" required="required" type="text" value="{{ data is defined ? data.label : '' }}" />
        </div>

        <div class="md-form mt-3">
            <label for="desc">Description</label>
            <textarea id="desc" class="md-textarea form-control" name="description" required="required" rows="1">{{ data is defined ? data.description : '' }}</textarea>
        </div>
        
        <div class="md-form mt-3">
            <label for="pic">Photo</label>
            <input id="pic" class="form-control" name="picture" required="required" type="text" value="{{ data is defined ? data.picture : '' }}" />
        </div>

        	<div class="md-form mt-3">
			    <label for="price">Prix</label>
				<input id="price" class="form-control" name="price" required="required" type="number" step=".01" value="{{ data is defined ? data.price : '' }}" /> 
			</div>

			<div class="md-form mt-3">
					<label for="dtime">Temps de livraison (en jours)</label>
					<input id="dtime" class="form-control" name="delevery_date" required="required" type="number" value="{{ data is defined ? data.delevery_date : '' }}" /> 
			</div>

            <div class="md-form">
                <select id="cent" class="browser-default custom-select" style="width: auto" name="id_Center">
                    {% for center in centers %}
                    <option value="{{ center.id }}" {{ data.id_Center == center.id ? 'selected' : '' }}>{{ center.label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="md-form">
                <select class="browser-default custom-select" style="width: auto" name="id_Category">
                    {% for category in categories %}
                    <option value="{{ category.id }}" {{ data.id_Category == category.id ? 'selected' : '' }}>{{ category.label }}</option>
                    {% endfor %}
                </select><br><br><br>
            </div>
		<p> 
			<button class="btn btn-primary btn-block" type="submit">Editer le produit</button>
		</p>
	</form>
  </div>

    <button class="btn btn-danger btn-block" onclick="removeProduct({{ data.id }})" style="width: 400px;">Supprimer le produit</button>






        <!-- Footer & Animations -->
        {% include "footer.html" %}

           <script src="{{ asset('/vendors/alerts/alert.js') }}"></script>


         <script>

          function removeProduct(id) {
            $.ajax({
                url: "/shop/products/remove",
                type: 'POST',
                data: {
                        'id': id,
                    },
                success: function (data) {
                    if(data == 'OK') {
                        location.href = "/shop";
                    } else {
                        alert(data, 'error');
                    }
                }
            });
        }

            $('input').trigger("change");
            $('textarea').trigger("change");
        </script>
    </body>
</html>
