<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "head.html" %}
        <title>Votre panier</title>
            <style>
        h1 {
            color: white;
            text-align: center;
        }
        .card {
            margin-bottom: 50px;
            width: 320px;
            height: 500px;
        }
        .card-body {
            background-color: #111;
        }
        .card-text {
            font-size: 18px;
        }
        .quantity-text {
            font-size: 18px;
        }
        .card-sub {
            width: 100%;
            height: 120px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 10px;
        }
        .card:hover {
            filter: contrast(1.1);
            transition: .1s;
        }
        .card-sub > .btn-sm {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .card-sub > .md-form {
            width: 40%;
            position: absolute;
            bottom: -18px;
        }
        .card-sub > .price-text {
            position: absolute;
            right: 5px;
            bottom: 8px;
        }
        .card-sub > .quantity-text {
            color: white !important;
            position: absolute;
            right: 5px;
            bottom: 6px;
        }
        .card-body > .btn-danger {
            position: absolute;
            top: -10px;
            right: -10px;
        }

        @media screen and (max-width: 992px) {
            .left-pan {
                display: none !important;
            }
        }
    </style>
        <script>
        function removeFromCart(id) {
            $.ajax({
                url: "/shop/products/removecart",
                type: 'POST',
                data: {
                        'id_Product': id,
                    },
                success: function (data) {
                    if(data == 'OK') {
                        alert("Produit supprimé du panier!", 'success');
                        location.reload(true);
                    } else {
                        alert(data, 'error');
                    }
                }
            });
        }

        function buyCart() {

            $('#buy').attr("disabled", true);

            $.ajax({
                url: "/events/cart/buy",
                type: 'POST',
                data: {},
                success: function (data) {
                    if(data == 'OK') {
                        alert("Achat réussi!", 'success');
                        location.reload(true);
                    } else {
                        alert(data, 'error');
                        $('#buy').attr("disabled", false);
                    }
                }
            });

        }

        $('#qt').val(1);
        $('input').trigger("change");
    </script>

      <script src="https://www.paypal.com/sdk/js?client-id=AVgXX5EMt4zaPbhz0qT3cuKkaAUeAwSicYXe2VzON39IOoamgtw6Sg5F9wUbOP-3Rn7jVnoOHd4NxpGr"></script>

  <script>
    paypal.Buttons().render('#paypal-button-container');
    // This function displays Smart Payment Buttons on your web page.
  </script>

    <script src="{{ asset('/vendors/alerts/alert.js') }}"></script>
    </head>

    <body>
        <!-- Header -->
        {% include "header.html" %}

        <!-- Deuxième Header -->
        {% include "navbar.html" %}

        
        <div class="row" style="width: 100%">

        <div class="col-10">

        <div class="cards">

           <h1>Panier</h1>

            <div class="row justify-content-md-center" style="margin: 50px;">

                {% set priceTot = 0 %}
                {% for product in products %}
                {% set priceTot = priceTot + product.quantity * product.product.price %}

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body" style="background: #eceef0 url({{ product.product.picture }}) no-repeat 50% 50% / cover;">
                                <button onclick="removeFromCart({{ product.product.id }})" class="btn btn-danger">Enlever</button>
                                <div class="card-sub">
                                    <h5 class="card-title price-text">{{ product.product.price|number_format(2) }} €</h5>
                                    <h4 class="card-title"><a>{{ product.product.label }}</a></h4>
                                    <p class="card-text">{{ product.product.description }}</p>
                                    <p class="card-text quantity-text">x {{ product.quantity }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                </div>

        </div>

        <div class="col-2"></div>

        </div>

        <!-- Right PANEL -->
         <div class="rightpanel">

            <h2>Passer commande</h2>
            <h4>Sous-total: {{ priceTot|number_format(2) }} €</h4>
            <h4>TTC: {{ (priceTot * 1.2)|number_format(2) }} €</h4>
            
            <p style="color:white;">Vos données personnelles seront utilisées pour le traitement de votre commande, vous accompagner au cours de votre visite du site web, et pour d’autres raisons décrites dans notre <a style="color: hsl(39, 100%, 66%);" href="#">politique de confidentialité</a>.</p>

            <a href="#"><div id="paypal-button-container"></div></a>
            <button id="buy" class="btn btn-success" onclick="buyCart()">Acheter</button>

        </div>

        </div>

        <!-- Footer & Animations -->
        {% include "footer.html" %}
    </body>

</html>
